.gym-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.exercise-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30;
    margin: 25px 50px;
}
@media screen and (max-width: 1100px) {
    .exercise-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
.blog{
    border: 2px solid blueviolet;
    margin: 30px;
    padding: 10px;
    background-color: blanchedalmond;
}
.blog h4{
    background-color: beige;
    padding: 5px;
    margin: 20px;
}